.hero {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: left;
  background: url('/tool-detail-bg.svg') no-repeat;
  background-size: cover;
}

.contentWrapper {
  max-width: 1200px;
  margin: 2rem auto;
}
.imageGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  max-width: 1200px;
  margin: 4rem auto;
}
.thumbnail {
  height: 200px;
  background-color: #e5e7eb;
  border-radius: 12px;
}

.section {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 4rem;
}
.sectionTitle {
  margin-bottom: 1rem;
}
