.container {
  background-color: #fff;
  padding: 6rem 2rem;
  text-align: center;
}
.titleSection {
  text-align: center;
  margin-bottom: 3rem;
}
.titleSection h2 {
  font-size: 2.5rem;
  color: #0052ff;
  margin: 0;
}
.titleSection p {
  color: #555;
}

.ctaButton {
  background-color: #0052ff;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 500;
}
