.hero {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: left;
  background: url('/legal-bg.svg') center center no-repeat;
}
.title {
  margin-bottom: 2rem;
}
.introTextWrapper p {
  margin: 0;
  color: #333;
  line-height: 1.7;
}
