.hero {
  padding-top: 5rem;
  text-align: center;
  background: linear-gradient(90deg, #81d4fa, #42a5f5);
}
.title {
  color: white;
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.introTextWrapper {
  background-color: #f7f8fa;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 16px 16px 0 0;
}
.introTextWrapper p {
  margin: 0;
  color: #333;
  line-height: 1.7;
}
