.container {
  padding: 8rem 0;
}
.cloudSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.cloudContent {
  position: relative;
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.noteBox,
.learningBox {
  border-radius: 12px;
  font-weight: bold;
  flex-shrink: 0;
}
.mainText {
  max-width: 45%;
}
