.hero {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: left;
  background: url('/navigate-bg.svg') no-repeat;
  background-size: cover;
}

@media (max-width: 800px) {
  .hero {
    background: url('/navigate-bg-mob.svg') no-repeat;
    background-size: cover;
  }
}
