@import 'tailwindcss';

@theme {
  --font-galosText: var(--font-golos-text);

  --text-2xl: 42px;
  --text-xl: 30px;
  --text-lg: 24px;
  --text-md: 20px;
  --text-sm: 16px;
  --text-xs: 14px;

  --color-warm-grey: #f4efef;
  --color-blue-400: #bcd5ff;
  --color-blue-800: #005fff;
  --color-orange-50: #ffc3a2;
  --color-orange-200: #e79568;
  --color-orange-800: #fa691a;
  --color-grey-50: #fbfbff;
  --color-grey-100: #ededee;
  --color-grey-200: #c2c2c2;
  --color-grey-600: #5a5a5a;
}

.heading {
  @apply font-galosText text-2xl;
}

.heading-lg {
  @apply font-galosText text-xl;
}

.heading-md {
  @apply font-galosText text-lg;
}

.text-regular {
  @apply font-galosText text-md;
}

.text-small {
  @apply font-galosText text-sm;
}

.tag {
  @apply font-galosText text-xs;
}

.grid-bg {
  background-color: #fffefe;
  background-image:
    linear-gradient(to right, #eef4ff 1px, transparent 1px),
    linear-gradient(to bottom, #eef4ff 1px, transparent 1px);
  background-size: 40px 40px;
}

.learnBg {
  background: url('/learn-bg.svg') top no-repeat;
}

.curiousBg {
  background: url('/curious-bg.svg') center center no-repeat;
  background-size: 1250px;
}

.whoBg {
  background: url('/who_shape.svg') center center no-repeat;
  background-size: 370px;
}

/* For the glowing effect on quotes */
.glow-bubble {
  position: relative;
}
.glow-bubble::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 1.5rem; /* match the bubble's border-radius */
  background: currentColor;
  filter: blur(20px);
  opacity: 0.4;
  z-index: -1;
}

.scroll-top {
  scroll-margin-top: 120px;
}

.section-shadow {
  @apply shadow-[0_5px_5px_rgba(0,95,255,0.25)];
}
